Options +FollowSymLinks
RewriteEngine On

# Redirect to the public directory
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]

# Prevent access to sensitive files
<FilesMatch "\.(env|sql|htaccess)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>